body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  background:  #414141;
}

h1 {
  /*font-weight: 700;*/
  font-size:   5em;
  margin: 0;
}

#Title {
  background: #52ACCC;
  color:      #ffffff;
  text-align: center;
  padding:    3em 1em;
  text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.3);
}

#MainDemo {
  background: #A0D468;
  color:      #ffffff;
  text-align: center;
  padding:    3em 1em;
}

#MainDemo .calendar {
  width:         30em;
  height:        28em;
  margin:        0 auto;
  margin-bottom: 1em;
  border:        none;
  color:         #f6ffd5;
  background:    #A0D468;
}

#MainDemo .calendar > h2 {
  font-size:   2.5em;
  background:  #97CE7F;
  height:      2em;
  line-height: 1.8em;
  margin:      0;
}
#MainDemo .calendar > h2 > .month {
  display: inline-block;
  *display: inline;
  width: 5em;
}
#MainDemo .calendar > h2 > .year {
  display: inline-block;
  *display: inline;
  width: 2em;
}
#MainDemo .calendar > h2 > .btn {
  background:  #97CE7F;
  color:       #f6ffd5;
  border:      none;
  line-height: 1.8em;
  font-size:   0.8em;
}

#MainDemo .calendar > table {
  width:           100%;
  font-size:       1.5em;
  border-collapse: collapse;
  border-spacing:  0px;
}

#MainDemo .calendar > table > thead th {
  /*font-weight: 700;*/
  color:      #bec8b7;
  background: #93ac93;
  padding:    0.5em;
}

#MainDemo .calendar > table .other-month,
#MainDemo .calendar > table > tbody th {
  /*font-weight: 300;*/
  color: #93ac93;
}

#MainDemo .calendar > table .day {
  padding: 0.5em;
  cursor:  pointer;
}

#MainDemo .calendar > table .day.selected {
  /*font-weight: 700;*/
  cursor:      pointer;
  background:  #97CE7F;
}

#MainDemo .calendar > table .day:hover {
  color:      #FFF;
}

#MainDemo .calendar-actions {
  width:      30em;
  margin:     0 auto;
  text-align: left;
}

#Today {
  background: #97CE7F;
  color:      #fff;
  border:     1px solid #f6ffd5;
  width:      5em;
  font-size:  1.5em;
  line-height: 2em;
  float: 	  right;
}

#Selection {
  border:     1px solid #f6ffd5;
  background: #97CE7F;
  color:      #fff;
  width:      20em;
  height: 	  2.8em;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 33em) {
  body {
  	min-width: 20em;
  }
  h1  {
	font-size: 3em;
  }
  #Today,
  #Selection,
  #MainDemo .calendar-actions {
    width: 100%;
	margin-bottom: 0.5em;
  }
  #MainDemo .calendar {
    width:  100%;
	height: 21em;
  }
  #MainDemo .calendar > h2 {
    font-size: 1.4em;
  }
  #MainDemo .calendar table {
	font-size: 1.25em;
  }
  #MainDemo .calendar table .day,
  #MainDemo .calendar table .other-month {
	padding:   0.25em;
  }
  #MainDemo .calendar table thead th {
	padding:   0.5em 0em;
  }
  #MainDemo .calendar table tbody th {
	font-size: 	 0.7em;
	/*font-weight: 300;*/
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.invisible {
    visibility: hidden;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
